extends layout

block content
  header.w3-container(style='padding-top:22px')
    h5 My Dashboard
  .w3-row-padding.w3-margin-bottom
    #areaChart.choral-chart(style="width: 800px; height: 200px")

  script.
    document.addEventListener("DOMContentLoaded", function(event) {
      var areaChartData = [
        {
          label: "Chart layer 1",
          values: []
        }];

      window.chart = $('#areaChart').epoch({
        type: 'time.area',
        data: areaChartData
      });

      var socket = io.connect('//'+document.location.hostname+':'+document.location.port);
      socket.on('chartData', function (jsonString) {
        var data = JSON.parse(jsonString);
        window.chart.push([{
          time: data.device_timestamp,
          y: data.device_data.sensor_data/500,
        }]);
      });
      socket.emit('subscribeToID', { deviceId: '#{deviceId}' });
      socket.on('ackConnect', function (data) {
        console.log(data);
      });
    });
