mixin editor(startVal)
  #editor= startVal
  style(type='text/css', media='screen').
    #editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }
  script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js', type='text/javascript', charset='utf-8')
  script.
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
