extends layout

block content
  // !PAGE CONTENT!
  header.w3-container(style='padding-top:22px')
    h5
      b
        i.fa.fa-dashboard
        |  Edit Choral
  form.w3-container(method='POST' action='/chorals/'+choralEdit.choralId+'/edit' id='mainForm').new-choral-form
    .form-group
      label(for='choralNameInput') Name
      input#choralNameInput.form-control(name='name' type='text' placeholder=choralEdit.name)
    .form-group
      label(for='choralSampleRateInput') Sample Rate (seconds)
      .input-group
        input#choralSampleRateInput.form-control(name='sampleRate' type='text', placeholder=choralEdit.sampleRate)
        .input-group-addon seconds (>= 1)
    .form-group
      label(for='choralFuncInput') Function
      textarea#choralFuncInput.form-control(name='func' type='text' placeholder=choralEdit.func)
    .form-group
      .inline-select
        label(for='childChoral') Children Chorals
        div(id='childrenList')
        select#childChoral.form-control.add-child-input(name='childChoral')
            each choral in chorals
              option(value=choral)= choral.name
    button.btn.btn-default.add-child-btn(type='button' onclick='createChildCookie(childChoral.value)') Add Child

    //Submit main form
    br
    br
    br
    button.btn.btn-default(type='submit' form='mainForm') Submit Changes

  // End page content
