include sidebar

doctype html

head
  title=Choral
  link(rel='stylesheet', href='/stylesheets/style.css')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='icon', type='image/png', href='favicon.png')
  link(rel='stylesheet', type="text/css", href='/stylesheets/epoch.min.css')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  // boostrap
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
  // Latest compiled and minified JavaScript
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

  script(src="/javascripts/d3.min.js")
  script(src="/javascripts/epoch.min.js")

  script(src="/socket.io/socket.io.js")

  script(src="/javascripts/index.js")

  style.
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

body.w3-light-grey
  // epoch js makes all the charts have a z-index of 999 or 1000 we want the
  // menu to be above that
  div(style="z-index=1001")
    if googleUser
      +menu(googleUser)
  .w3-main(style='margin-left:300px;margin-top:43px;')
    .w3-container
      if flash.info
        div.flash.bg-info= flash.info
      if flash.success
        div.flash.bg-success= flash.success
      if flash.error
        div.flash.bg-danger= flash.error
      block content

      // Footer
      footer.w3-container.w3-padding-16.w3-light-grey
        h4 Powered by Choral Cloud
        p
          a.w3-btn.w3-black(href='https://github.com/ChoralCloud', target='_blank')
            i.fa.fa-code-fork.w3-large
            |  Check out the code

