extends layout

block content
  // !PAGE CONTENT!
  header.w3-container(style='padding-top:22px')
    h5
      b
        i.fa.fa-plus-square-o
        |  Create A New Choral
  form.w3-container(method='POST' action='/chorals' id='mainForm').new-choral-form
    .form-group
      label(for='choralNameInput') Name
      input#choralNameInput.form-control(name='name' type='text')
    .form-group
      label(for='choralSampleRateInput') Sample Rate (seconds)
      .input-group
        input#choralSampleRateInput.form-control(name='sampleRate' type='text', placeholder='5')
        .input-group-addon seconds (>= 1)
    .form-group
      label(for='choralFuncInput') Function
      textarea#choralFuncInput.form-control(name='func' type='text' placeholder='function(children, done){ done({ val: 1 }); }')
<<<<<<< HEAD
<<<<<<< HEAD
    button.w3-btn.w3-blue(type='submit') Create Choral
=======
        

    //List all children in cookies
    
      
    //Add child to cookies
    form.w3-container(method='POST' action='/chorals/addChild' id='childForm').new-choral-form
      .form-group
        .inline-select
          label(for='childChoral') Children Chorals
          select#childChoral.form-control.add-child-input(name='childChoral')
              each choral in chorals
                option(value=choral.choralId)= choral.name
      button.btn.btn-default.add-child-btn(type='button' onclick='createCookie(childChoral.value)') Add Child

=======
    .form-group
      .inline-select
        label(for='childChoral') Children Chorals
        div(id='childrenList')
        select#childChoral.form-control.add-child-input(name='childChoral')
            each choral in chorals
              option(value=choral)= choral.name
    button.btn.btn-default.add-child-btn(type='button' onclick='createChildCookie(childChoral.value)') Add Child
>>>>>>> ee488af... Children addition is now in the new Choral edit page, children can be added on choral creation aswell

    //Submit main form
    br
    br
    br
    button.btn.btn-default(type='submit' form='mainForm') Create Choral
>>>>>>> 134ab83... New choral page includes children addition using cookies

  // End page content
