extends layout

block content
  // !PAGE CONTENT!
  header.w3-container(style='padding-top:22px')
    h5
      b
        i.fa.fa-plus-square-o
        |  Create A New Choral
  form.w3-container(method='POST' action='/chorals' id='mainForm').new-choral-form
    .form-group
      label(for='choralNameInput') Name
      input#choralNameInput.form-control(name='name' type='text')
    .form-group
      label(for='choralSampleRateInput') Sample Rate (seconds)
      .input-group
        input#choralSampleRateInput.form-control(name='sampleRate' type='text', placeholder='5')
        .input-group-addon seconds (>= 1)
    .form-group
      label(for='choralFuncInput') Function
      textarea#choralFuncInput.form-control(name='func' type='text' placeholder='function(children, done){ done({ val: Math.random() * 50 }); }')

    if defaultFuncs.length > 0
      .form-group
        label(for='choralDefaultFuncInput') Quick Function
          select(name='defaultFunc' type='text').form-control#choralDefaultFuncInput
            each func in defaultFuncs
              option(value=func.func)= func.fileName


    //Add child to cookies
    .form-group
      .inline-select
        label(for='childChoral') Children Chorals
        div(id='childrenList')
        select#childChoral.form-control.add-child-input(name='childChoral')
            each choral in chorals
              option(value=choral)= choral.name
    button.btn.btn-default.add-child-btn(
      type='button' onclick='createChildCookie(childChoral.value)') Add Child
    br
    br
    button.w3-btn.w3-blue(type='submit') Create Choral


  // End page content
