extends layout

block content
  // !PAGE CONTENT!
  header.w3-container(style='padding-top:22px')
    h5
      b
        i.fa.fa-plus-square-o
        |  Create A New Choral
  form.w3-container(method='POST' action="/chorals").new-choral-form
    .form-group
      label(for='choralNameInput') Name
      input#choralNameInput.form-control(name='name' type='text')
    .form-group
      label(for='choralSampleRateInput') Sample Rate (seconds)
      .input-group
        input#choralSampleRateInput.form-control(name='sampleRate' type='text', placeholder='5')
        .input-group-addon seconds (>= 1)
    .form-group
      label(for='choralFuncInput') Function
      textarea#choralFuncInput.form-control(name='func' type='text' placeholder='function(children, done){ done({ val: 1 }); }')
    button.w3-btn.w3-blue(type='submit') Create Choral

  // End page content
