extends layout

block content
  // !PAGE CONTENT!
  header.w3-container(style='padding-top:22px')
    h5
      b
        i.fa.fa-dashboard
        |  Add Child to a Choral
  form.w3-container(method='POST' action="/chorals/" + parentChoral + "/addChild").new-choral-form
    .form-group
      label(for='parentChoral') Parent Choral: #{parentChoral}
    .form-group
      label(for='childChoral') Child Choral
      select#childChoral.form-control(name='childChoral')
        each choral in chorals
          option(value=choral.choralId)= choral.name
    button.btn.btn-default(type='submit') Add Child
