extends layout

block content
  header.w3-container(style='padding-top:22px')
    h5
      b
        i.fa.fa-plus-square-o
        |  Device Registration
    form(method='POST' action='/devices').new-device-form
      .form-group
          label(for="deviceName") Device Name: 
          input#deviceName.form-control(type='text' name='deviceName')
      .form-group
          label(for='sampleRate') Sample Rate (seconds): 
          input#sampleRate.form-control(type='number' name='sampleRate' value='5' min='1')
      button.w3-btn.w3-blue(type='submit') Create Device

    if devID
      p Your new device ID is
      p!= devID
