mixin menu(googleUser)
  // Sidebar/menu
  nav.w3-sidebar.w3-collapse.w3-white(style='z-index:3;width:300px;')
  // Sidebar/menu
  nav#mySidebar.w3-sidebar.w3-collapse.w3-white.w3-animate-left(style='z-index:3;width:300px;')
    br
    .w3-container.w3-row
      .w3-col.s4
        img.w3-circle.w3-margin-right(src=googleUser.image, style='width:46px')
      .w3-col.s8.w3-bar
        span
          | Welcome, 
          strong #{googleUser.displayName}
    hr
    .w3-bar-block
      a#hb.w3-bar-item.w3-button.w3-padding(href='/home')
        i.fa.fa-home.fa-fw
        |   Home
      a.w3-bar-item.w3-button.w3-padding(href='/events')
        i.fa.fa-line-chart.fa-fw
        |   Events
      a.w3-bar-item.w3-button.w3-padding(href='/devices')
        i.fa.fa-microchip.fa-fw
        |   Devices
      a.w3-bar-item.w3-button.w3-padding(href='/chorals')
        i.fa.fa-share-alt.fa-fw
        |   Chorals
      a.w3-bar-item.w3-button.w3-padding(href='/logout')
        i.fa.fa-sign-out.fa-fw
        |   Log Out
      br
  // Overlay effect when opening sidebar on small screens
  #myOverlay.w3-overlay.w3-hide-large.w3-animate-opacity(onclick='w3_close()', style='cursor:pointer', title='close side menu')
  script.
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");
    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");
    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }
    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }
