.signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.signin
{
    margin-bottom: 10px;
}
.signin
{
    font-weight: normal;
}
.signin
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signin
{
    z-index: 2;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.app-header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
}

.app-header-menubutton {
  width:20%;
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.3em;
  text-align: left;
}

.app-header-logo {
  width:80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.3em;
  text-decoration: none;
}

.app-header-logo-link {
  display:flex;
  align-items: center;
  text-decoration: none !important;
}

@media(min-width: 990px) {
  .app-header-menubutton {
    display: none;
  }
  .app-header-logo {
    width: 100%;
  }
}

.body-content {
  padding-top: 59px;
}

/*
 * Choral View Stuff
 */
.choral-chart {
    position: absolute;
    z-index: -1;
    border: 1px solid black;
    background-color: white;
    -webkit-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
}

.child-area {
  display: flex;
  flex-wrap: wrap;
}

.child-area-head {
  width: 100%;
  display: block;
}

.child-card {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 200px;
  height: 100%;
  margin: 0px 10px 10px 0px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.child-card:hover {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
}

.child-card-header {
  text-align: center;
  width: 100%;
  height: 20%;
}

.child-card-body {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  height:70%;
}


.child-card-body-label {
  width: 50%;
  padding-left: 15px;
}

.child-card-body-data {
  width: 50%;
  word-wrap: break-word;
  padding-right: 15px;
}

/*
 * END Choral View Stuff
 */

.choral-row {
    cursor: pointer;
}

/* Epoch js stupidly sets the z-index of their charts which makes them
 * overlay ontop of our sidebar this sets the svg on the page to be beneath the sidebar
 */

#mySidebar {
  margin-top: 59px;
}

.new-choral-form {
  max-width: 500px;
}

.new-device-form {
  max-width: 500px;
}

.flash {
  font-size: 25px;
  padding: 4px;
  margin-top: 8px;
  border-radius: 4px;
}

.choral-sidebar-button {
  text-decoration: none !important;
}

/*
 * button stuff
 */

.choral-btn-container {
  display: flex;
  justify-content: flex-start;
}

.choral-btn-add {
  background-color: #2196F3;
  color: white;
  text-decoration: none !important;
  border: none;
  padding: 8px 16px;
  transition: all 0.2s;
}

.choral-btn-add:hover {
  background-color: #2a86d0;
  color: white;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.57);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.57);
}

.choral-btn-left-margin {
  margin-left: 8px;
}

/*
 * End button stuff
 */

.choral-table {
  margin-top: 10px;
}

.center {
  width: 100%;
  text-align: center;
}


.link-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.add-child-input{
  float: left;
  width: 70%;
}
.add-child-btn{
  float: right;
  width: 30%;
}
.children-list{
  padding-left: 20px;
}
